{
  "extends": "vue",
  "plugins": ["testcafe"],
  "rules": {
    "import/no-unresolved": 0,
    "import/no-unassigned-import": 0,
    "no-implicit-coercion": 0,
    "unicorn/filename-case": 0,
    "capitalized-comments": 0,
    "eol-last": 0
  }
}
